/* @import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,900&display=swap'); */

body {
    background-color: #eeeeee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Tourney', Tahoma, sans-serif;
    font-weight: 900;
}

main {
    flex: 1 0 auto;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.flashes h4 {
    line-height: 2;
}

.capitalize {
    text-transform: capitalize;
}

.brand-logo {
    margin-left: 5px;
}

.card .card-image .card-title {
    padding: 12px;
}

.underline {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .card .card-image .card-title {
        padding: 0;
    }
}
