{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Your Bike</h3>

    <form class="col s12" action="{{ url_for("add_bike") }}" method="POST">

        <div class="row">

            <div class="col s6 center-align">

                <h4><i class="fas fa-motorcycle"></i> Bike </h4>
                <div class="input-field col s12">
                    <input id="img_url" name="img_url" minlength="3" maxlength="150"
                           pattern="^[a-zA-Z0-9]{3,150}$" type="text" class="validate " required>
                    <label for="img_url">Image URL</label>
                </div>
                <div class="input-field col s12">
                    <input id="make" name="make" minlength="2" maxlength="20" type="text" class="validate "
                           pattern="^[a-zA-Z0-9]{2,20}$" required/>
                    <label for="make">Make of Motorcycle</label>
                </div>
                <div class="input-field col s12">
                    <input id="model" name="model" minlength="3" maxlength="20" type="text" class="validate "
                           pattern="^[a-zA-Z0-9]{3,20}$" required/>
                    <label for="model">Model of Motorcycle</label>
                </div>
                <div class="input-field col s12">
                    <input id="nickname" name="nickname" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate" required/>
                    <label for="nickname">Nickname of Motorcycle</label>
                </div>
            </div>

            <div class="col s6 center-align">

                <h4><i class="fas fa-hard-hat"></i> Gear </h4>
                <div class="input-field col s12">
                    <input id="helmet" name="helmet" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" class="validate" type="text" required/>
                    <label for="helmet">Helmet</label>
                </div>
                <div class="input-field col s12">
                    <input id="jacket" name="jacket" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate" required/>
                    <label for="jacket">Jacket</label>
                </div>
                <div class="input-field col s12">
                    <input id="trousers" name="trousers" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" class="validate" type="text" required/>
                    <label for="trousers">Trousers</label>
                </div>
                <div class="input-field col s12">
                    <input id="boots" name="boots" minlength="3" maxlength="20" type="text" class="validate "
                           required/>
                    <label for="boots">Boots</label>
                </div>
                <div class="input-field col s12">
                    <input id="gloves" name="gloves" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate " required/>
                    <label for="gloves">Gloves</label>
                </div>

            </div>

        </div>
        <div class="row center-align">
            <h4><i class="fas fa-route"></i> Favorite Route </h4>
        </div>
        <div class="row center align">

            <div class="col s4">
                <div class="input-field col s12">
                    <input id="routestart" name="routestart" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate" required/>
                    <label for="routestart">Start</label>
                </div>
            </div>

            <div class="col s4">
                <div class="input-field col s12">
                    <input id="routevia" name="routevia" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate" required/>
                    <label for="routevia">Via</label>
                </div>
            </div>

            <div class="col s4">
                <div class="input-field col s12">
                    <input id="routeend" name="routeend" minlength="3" maxlength="20"
                           pattern="^[a-zA-Z0-9]{3,20}$" type="text" class="validate" required/>
                    <label for="routeend">End</label>
                </div>
            </div>

        </div>
        <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit">Submit
            </button>
        </div>
    </form>
    <div class="row center-align">
        <p class="underline">
            Cannot contain empty spaces!
        </p>
    </div>
{% endblock %}