{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% for bike in bikes %}
            <div class="col s12 m6 l6 xl6">
                    <div class="card ">
                         <div class="card-image">
                             <img class="" src="{{ bike.img_url }}">
                             <span class="card-title"><strong>{{ bike.nickname }}</strong></span>
                             <a href="" class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="card-content">
                            <h5> {{ bike.make }} {{ bike.model }}</h5>
                            <h5 class="right-align">Owned by: {{ bike.owner }}</h5>

                        </div>
                     </div>
             </div>
        {% endfor %}
    </div>

<ul class="pagination center-align">
    <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
</ul>

{% endblock %}