{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% for bike in bikes %}
            <div class="col s12 m6 l6 xl6">
                    <div class="card ">
                         <div class="card-image">
                             <img src="{{ bike.img_url }}">
                             <span class="card-title black-text text-shadow"><strong>{{ bike.nickname }}</strong></span>
                             <a href="{{ url_for("profile", username=bike.owner) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="card-content">
                            <h5> {{ bike.make }} {{ bike.model }}</h5>
                            <h5 class="right-align">Owned by: {{ bike.owner }}</h5>

                        </div>
                     </div>
             </div>
        {% endfor %}
    </div>

<ul class="pagination center-align">
    {% for pagenum in pages %}
        {% if pagenum == page %}
            <li class="active grey">
                <a><span >{{ pagenum }}
                    <span class="sr-only">(current)</span></span>
                </a>
            </li>
        {% else %}
            <li class="grey">
                <a  href="{{ url_for('members', page=pagenum) }}" > {{ pagenum }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
