{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class=" center-align capitalize">
                <h3>{{ user.username }}'s Profile</h3>
            </div>
        </div>
    </div>
    {% for bike in bikes %}
        <div class="row">
            <div class="col s12 m12 l12 xl6 offset-xl3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ bike.img_url }}">
                        <span id="sp" class="card-title black-text grey">
                            <strong> {{ bike.nickname }} </strong>
                        </span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6 center-align">
                                {% if session["user"]== bike.owner %}
                                    <a class="btn grey" href="{{ url_for("edit_bike", bike_id=bike._id) }}"> Edit </a>
                                    <a class="btn red" href="{{ url_for("delete_bike",bike_id=bike._id) }}"> Delete </a>
                                {% endif %}
                                <h4> Bike </h4>
                                <p>
                                    Make: {{ bike.make }} <br>
                                    Model: {{ bike.model }}
                                </p>
                            </div>
                            <div class="col s6 center-align">
                                <h4> Gear </h4>
                                <p>
                                    Helmet: {{ bike.helmet }}<br>
                                    Jacket: {{ bike.jacket }}<br>
                                    Trousers: {{ bike.trousers }}<br>
                                    Boots: {{ bike.boots }}<br>
                                    Gloves: {{ bike.gloves }}
                                </p>
                            </div>
                        </div>
                        <div class="row center-align">
                            <h4> Favorite Route </h4>
                        </div>
                        <div class="row center-align ">
                            <div class="col s4">
                                <h5> Start</h5>
                            </div>
                            <div class="col s4">
                                <h5> Via</h5>
                            </div>
                            <div class="col s4">
                                <h5> End</h5>
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="col s4">
                                <p>{{ bike.routestart }}</p>
                            </div>
                            <div class="col s4">
                                <p>{{ bike.routevia }}</p>
                            </div>
                            <div class="col s4">
                                <p>{{ bike.routeend }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="row">
                            <h4> Comments: </h4>
                        </div>
                        <div class="row">
                            comment here <br>
                            Posted by: <span class="underline"> Here </span>
                        </div>
                        <div class="row">
                            <form class="col col s12 m8 offset-m2" method="POST" action="{{ url_for("profile", username=session.user) }}">
                                <div class="row">
                                    <div class="input-field ">
                                        <textarea id="comment" name="comment" minlength="2" maxlength="200"
                                                  class=" materialize-textarea center-align" ></textarea>
                                        <label for="comment">Add comment here</label>
                                        <button type="submit" class="btn grey ">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}