{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel grey darken-1">
                <div class="h3 center-align capitalize">
                    {{ user.username }}'s Profile
                </div>
            </div>
        </div>
    </div>
    {% for bike in bikes %}
        <div class="row">
            <div class="col s12 m12 l12 xl6 offset-xl3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ bike.img_url }}">
                        <span class="card-title">
                            <strong class="text-shadow black-text"> {{ bike.nickname }} </strong>
                        </span>

                    </div>
                    <div class="card-content">
                        <div class="row">

                            <div class="col s6 center-align">
                                {% if session["user"]== bike.owner %}
                                    <a class="btn grey" href="{{ url_for("edit_bike", bike_id=bike._id) }}"> Edit </a>
                                    <a class="btn red" href="{{ url_for("delete_bike",bike_id=bike._id) }}"> Delete </a>
                                {% endif %}
                                <h4> Bike </h4>
                                Make: {{ bike.make }} <br>
                                Model: {{ bike.model }}
                            </div>

                            <div class="col s6 center-align">

                                <h4> Gear </h4>
                                Helmet: {{ bike.helmet }}<br>
                                Jacket: {{ bike.jacket }}<br>
                                Trousers: {{ bike.trousers }}<br>
                                Boots: {{ bike.boots }}<br>
                                Gloves: {{ bike.gloves }}

                            </div>

                        </div>
                        <div class="row center-align">
                            <h4> Favorite Route </h4>
                        </div>
                        <div class="row center-align ">

                            <div class="col s4">
                                <h5> Start</h5>
                            </div>

                            <div class="col s4">
                                <h5> Via</h5>
                            </div>

                            <div class="col s4">
                                <h5> End</h5>
                            </div>

                        </div>
                        <div class="row center-align">

                            <div class="col s4">
                                {{ bike.routestart }}
                            </div>

                            <div class="col s4">
                                {{ bike.routevia }}
                            </div>

                            <div class="col s4">

                                {{ bike.routeend }}
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}